<div></div>
<section class="content">
    <ul class="products">
        {{#each products}}
        <li>
            <img src={{imageUrl}} alt="" height="50px" width="50px" />
            <h2>{{name}}</h2>
            <span>${{price}}</span>
            <p>{{description}}</p>
            <strong>Qty: {{quantity}}</strong>
        </li>
        <p>Total: $ {{total}}</p>
        {{/each}}
    </ul>
</section>
